html body {
  font-family: Helvetica, sans-serif;
  background-color: black;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: #8244d0;
}

.header {
  background-color: black;
  width: 100%;
  height: 100px;
  padding: 20px;
}

.graphic {
  max-height: 680px;
  overflow: hidden;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
}

.div-graphic {
  display: none;
}

h3 {
  color: #b8b8b8;
  font-size: 30px;
}

h2 {
  color: #b8b8b8;
  letter-spacing: 2px;
  font-size: 30px;
}

p {
  color: #b8b8b8;
  letter-spacing: 1px;
  line-height: 40px;
  font-size: 25px;
}

h1 {
  color: #b8b8b8;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #b8b8b8;
  cursor: pointer;
}

a:hover {
  color: #008037;
}

.intro {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.intro-credits {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  right: -2%; 
  transform: translate(-2%);
  text-align: center;
}

.main {
  width: 100%;
  padding: 20px;
  margin-right: 10px;
  margin-left: 0;
  text-align: center;
  background-color: #282828;
}

.about {
  border: none;
  color: #b8b8b8;
  background-color: #484848;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  font-size: 30px;
  padding: 9px 30px;
  cursor: pointer;
}

.icon-mobile {
  right: 2%; 
  transform: translate(2%);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.icon-text {
  width: 70%;
  margin-bottom: 20px;
  text-align: center;
  display: block;
}

.function-text {
  right: 2%; 
  transform: translate(2%);
}

.wbe {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.function {
  width: 100%;
  overflow: hidden;
  margin-left: auto;
}

.function-image {
  display: none;
}

.function-image-mobile {
  margin-left: -40px;
}

table {
  display: none;
}

.mobile-nav {
  float: left;
}

#mobile-dropbtn {
  color: white;
  padding: 16px;
  font-size: 20px;
}

.mobile-dropdown {
  display: inline-block;
}

#mobile-dropdown-content {
  color: white;
  display: none;
  padding: 20px;
  margin-top: 20px;
  background-color: #484848;
  position: absolute;
  width: 270px;
  z-index: 1;
}

.mobile-dropdown-content a {
  color: #b8b8b8;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav {
  display: none;
  width: 0;
}
